/* Jon Whipple 2022-07-10 */
:root {
	font-size: 24px;
	line-height: 1.5;
	font-family: Helvetica, Arial, sans-serif;
}

html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	
	height: 100%;
	display: flex;
	flex-direction: column;
}

header {
	flex: 1 0 auto;
	width: 75ch;
	margin: 0 auto;
}

main {
	flex: 1 0 auto;
	width: 75ch;
	margin: 0 auto;
	
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
}

footer {
	flex: 1 0 auto;
	width: 75ch;
	margin: 0 auto;
}

article {
	margin-bottom: 2rem;
}

a:link {
	color: blue;
}

a:visited {
	color: blue;
}

a:hover {
	background-color: rgba(0,0,255,0.2);
}

a.descan:hover {
	background-color: white;
}

a:active {
	color: red;
}

.highlight {
	background-color: lightgoldenrodyellow;
}

.date {
	margin-top: -1.25rem;
	font-size: 85%;
	border-bottom: 1px solid lightgrey;
}

.certification-mark {
	margin-top: 0.5rem;
	width: 200px;
}