/* Jon Whipple 2022-07-10 */
:root {
  --base-unit: calc(2vw + 0rem);
  
  font-family: Helvetica, Arial, sans-serif;
  font-size: var(--base-unit);
}

html {
  height: 100%;
}

body {
  width: 45rem;
  height: 100%;
  
  margin: 0 auto;
}

/* header {} */

main {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

footer {
  padding-bottom: var(--base-unit);
}

article {
  margin-bottom: 2rem;
}

h1 {
  font-size: calc();
}

a:link {
  color: blue;
}

a:visited {
  color: blue;
}

a:hover {
  background-color: rgba(0,0,255,0.2);
}

a.descan:hover {
  background-color: white;
}

a:active {
  color: red;
}

.highlight {
  background-color: lightgoldenrodyellow;
}

.date {
  margin-top: -1.25rem;
  /* font-size: 85%; */
  border-bottom: 1px solid #ccc;
}

.certification-mark {
  margin-top: 0.5rem;
  width: calc(10 * var(--base-unit));
}