/* Jon Whipple 2022-07-10 */
:root {  
  font-family: Helvetica, Arial, sans-serif;
  
  font-size: 36px;
  line-height: 1.5;
}

html {
  height: 100%;
}

body {
  margin: auto;
  width: 80%;
  font-size: 1rem;
}

/* header {} */

main {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

footer {
  padding-bottom: 1rem;
}

article {
  margin-bottom: 2rem;
}

h1 {
  font-size: 1.8rem;
  line-height: 1;
  hyphens: manual;
}

h2 {
  line-height: 1;
}

a:link {
  color: blue;
}

a:visited {
  color: blue;
}

a:hover {
  background-color: rgba(0,0,255,0.2);
}

a.descan:hover {
  background-color: white;
}

a:active {
  color: red;
}

.highlight {
  background-color: lightgoldenrodyellow;
}

.date {
  margin-top: -1.25rem;
  /* font-size: 85%; */
  border-bottom: 1px solid #ccc;
}

.certification-mark {
  margin-top: 0.5rem;
  min-width: 144px;
  max-width: 288px;
}